<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Poll
 * @package     Technooze_Tpoll
 * @copyright   Copyright (c) 2009 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Technooze_Tpoll>
            <version>0.0.1</version>
        </Technooze_Tpoll>
    </modules>
    <global>
        <helpers>
            <tpoll>
                <class>Technooze_Tpoll_Helper</class>
            </tpoll>
        </helpers>
        <blocks>
             <tpoll>
                <class>Technooze_Tpoll_Block</class>
             </tpoll>
        </blocks>
        <models>
             <tpoll>
                <class>Technooze_Tpoll_Model</class>
             </tpoll>
        </models>
    </global>
</config>
